#Acnh {
    background-color: #c4e9ccff;
    display: flex;
    padding: 20px 0px;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
    border: medium dotted white;
}
.animal {
    background-color: #feebf4ff;
    padding: 2px 5px;
    text-decoration: none;
    color: #9c8b81ff;
    border-radius: 5px;
}
header {
    background-color: #c4e9ccff;;
    text-align: center;
    color: #f5f5f5ff;
    font-family: "Emilys Candy", serif;
    background-image: linear-gradient(rgb(255, 199, 221), rgb(237, 109, 199));
    border: medium dotted white
}
footer {
    background-color: #fee9c2ff;;
    border: medium dotted white;
    color: #9c8b81ff;;
}
body {
    height: 100svh;
    margin: 0px;
    display: grid;
    grid-template-rows: 12% 2fr 9fr 2fr;
    background-color: #aec7d6ff;
    word-spacing: 5px;
}
img {
    height: 200px;
    width: 300px;
    float: left;
    margin: 10px;
}
p {
    color: #feebf4ff;
    font-family: "Delicious Handrawn", serif;
    font-size: larger;
    width: 680px;
    margin: 10px;
}
li {
    color: aliceblue;
}